<%@ Page Language="C#" MasterPageFile="~/MainPage.master" AutoEventWireup="true" CodeFile="VoucherEntry.aspx.cs" Inherits="VoucherEntry" Title="" %>

<asp:Content ID="Content1" ContentPlaceHolderID="head" Runat="Server">
</asp:Content>
<asp:Content ID="Content2" ContentPlaceHolderID="ContentPlaceHolder1" Runat="Server">
<script src="assets/js/master_list_jquery.min.js"></script>
<script src="assets/js/master_list_jquery-ui.min.js"></script>
<link href="assets/css/master_list_jquery-ui.css" rel="stylesheet" type="text/css"/>
 <script>
     $(document).ready(function() {
     $('#example').dataTable();
     $('.datepicker').datepicker({
         format: "dd/mm/yyyy",
         autoclose: true
     });
     });
 </script>
 
<script type="text/javascript">
    //On UpdatePanel Refresh
    var prm = Sys.WebForms.PageRequestManager.getInstance();
    if (prm != null) {
        prm.add_endRequest(function(sender, e) {
            if (sender._postBackSettings.panelsToUpdate != null) {
                $('#example').dataTable();
                $('.select2').select2();
                $('.datepicker').datepicker({
                    format: "dd/mm/yyyy",
                    autoclose: true
                });
            }
        });
    };
</script>
<asp:UpdatePanel ID="UpdatePanel5" runat="server">
                                <ContentTemplate>
<!-- begin #content -->
		<div id="content" class="content">
			<!-- begin breadcrumb -->
			<ol class="breadcrumb pull-right">
				<li><a href="javascript:;">Salary Process</a></li>
				<li class="active">Voucher</li>
			</ol>
			<!-- end breadcrumb -->
			<!-- begin page-header -->
			<h1 class="page-header">Voucher Entry </h1>
			<!-- end page-header -->
			
			<!-- begin row -->
			<div class="row">
                <!-- begin col-12 -->
			    <div class="col-md-12">
			        <!-- begin panel -->
                    <div class="panel panel-inverse">
                        <div class="panel-heading">
                            <div class="panel-heading-btn">
                                <a href="javascript:;" class="btn btn-xs btn-icon btn-circle btn-default" data-click="panel-expand"><i class="fa fa-expand"></i></a>
                                <a href="javascript:;" class="btn btn-xs btn-icon btn-circle btn-success" data-click="panel-reload"><i class="fa fa-repeat"></i></a>
                                <a href="javascript:;" class="btn btn-xs btn-icon btn-circle btn-warning" data-click="panel-collapse"><i class="fa fa-minus"></i></a>
                                <a href="javascript:;" class="btn btn-xs btn-icon btn-circle btn-danger" data-click="panel-remove"><i class="fa fa-times"></i></a>
                            </div>
                            <h4 class="panel-title">Voucher Entry</h4>
                        </div>
                        <div class="panel-body">
                        <div class="form-group">
                        <!-- begin row -->
                          <div class="row">
                          <!-- begin col-4 -->
                                 <div class="col-md-4">
									<div class="form-group">
										<label>Wages Type</label>
										 <asp:DropDownList ID="ddlWages" runat="server" class="form-control select2" 
                                            Width="100%" AutoPostBack="true" 
                                            onselectedindexchanged="ddlWages_SelectedIndexChanged">
                                         </asp:DropDownList>
                                         <asp:RequiredFieldValidator ControlToValidate="ddlWages" InitialValue="-Select-" Display="Dynamic"  ValidationGroup="Validate_Field" class="form_error" ID="RequiredFieldValidator8" runat="server" EnableClientScript="true" ErrorMessage="This field is required.">
                                         </asp:RequiredFieldValidator>								
									</div>
                                  </div>
                               <!-- end col-4 -->
                                <!-- begin col-4 -->
                                 <div class="col-md-4">
									<div class="form-group">
										<label>Month</label>
										 <asp:DropDownList ID="ddlMonth" runat="server" class="form-control select2" Width="100%">
                                         <asp:ListItem Value="-Select-">-Select-</asp:ListItem>
								        <asp:ListItem Value="January">January</asp:ListItem>
								        <asp:ListItem Value="February">February</asp:ListItem>
								        <asp:ListItem Value="March">March</asp:ListItem>
								        <asp:ListItem Value="April">April</asp:ListItem>
								        <asp:ListItem Value="May">May</asp:ListItem>
								        <asp:ListItem Value="June">June</asp:ListItem>
								        <asp:ListItem Value="July">July</asp:ListItem>
								        <asp:ListItem Value="August">August</asp:ListItem>
								        <asp:ListItem Value="September">September</asp:ListItem>
								        <asp:ListItem Value="October">October</asp:ListItem>
								        <asp:ListItem Value="November">November</asp:ListItem>
								        <asp:ListItem Value="December">December</asp:ListItem>
                                       </asp:DropDownList>
                                       <asp:RequiredFieldValidator ControlToValidate="ddlMonth" InitialValue="-Select-" Display="Dynamic"  ValidationGroup="Validate_Field" class="form_error" ID="RequiredFieldValidator1" runat="server" EnableClientScript="true" ErrorMessage="This field is required.">
                                       </asp:RequiredFieldValidator>
									</div>
                                  </div>
                               <!-- end col-4 -->
                           <!-- begin col-4 -->
                           <div class="col-md-4">
                           <div class="form-group">
                           <label>Token No</label>
                           <asp:DropDownList runat="server" ID="txtTokenNo" class="form-control select2" 
                                   Width="100%" AutoPostBack="true" 
                                   onselectedindexchanged="txtTokenNo_SelectedIndexChanged">
                           </asp:DropDownList>
                            <asp:RequiredFieldValidator ControlToValidate="txtTokenNo" InitialValue="-Select-" Display="Dynamic"  ValidationGroup="Validate_Field" class="form_error" ID="RequiredFieldValidator2" runat="server" EnableClientScript="true" ErrorMessage="This field is required.">
                            </asp:RequiredFieldValidator>
                            </div>
                           </div>
                           <!-- end col-4 -->
                        
                          
                          </div>
                        <!-- end row -->
                        <div class="row">
                                <!-- begin col-4 -->
                            <div class="col-md-4">
							   <div class="form-group">
								<label>Employee Name</label>
								<asp:Label runat="server" ID="txtEmpName" class="form-control" BackColor="#F3F3F3"></asp:Label>
								</div>
                             </div>
                           <!-- end col-4 -->
                                <!-- begin col-4 -->
                                 <div class="col-md-4">
									<div class="form-group">
										<label>Bonus Year</label>
										 <asp:DropDownList ID="ddlFinyear" runat="server" class="form-control select2" 
                                            Width="100%" AutoPostBack="true" 
                                            onselectedindexchanged="ddlFinyear_SelectedIndexChanged">
                                         </asp:DropDownList>
                                         <asp:RequiredFieldValidator ControlToValidate="ddlFinyear" InitialValue="-Select-" Display="Dynamic"  ValidationGroup="Validate_Field" class="form_error" ID="RequiredFieldValidator3" runat="server" EnableClientScript="true" ErrorMessage="This field is required.">
                            </asp:RequiredFieldValidator>
									</div>
                                  </div>
                               <!-- end col-4 -->
                                 <!-- begin col-2 -->
                                 <div class="col-md-2">
									<div class="form-group">
										<label>Work Days</label>
										<asp:TextBox runat="server" ID="txtWorkDay" class="form-control" Text="0"></asp:TextBox>
									</div>
                                  </div>
                               <!-- end col-2 -->
                               
                                   <!-- begin col-2 -->
                                 <div class="col-md-2">
									<div class="form-group">
										<label>Paid Amount</label>
										<asp:TextBox runat="server" ID="txtPaidAmt" class="form-control" Text="0.0"></asp:TextBox>
									</div>
                                  </div>
                               <!-- end col-2 -->
                        </div>
                       <!-- begin row -->
                          <div class="row">
                               <!-- begin col-4 -->
                                 <div class="col-md-4">
									<div class="form-group">
										<label>From Date</label>
										<asp:TextBox runat="server" ID="txtFromDate" class="form-control datepicker" placeholder="dd/MM/YYYY"></asp:TextBox>
									</div>
                                  </div>
                               <!-- end col-4 -->
                                 <!-- begin col-4 -->
                                 <div class="col-md-4">
									<div class="form-group">
										<label>To Date</label>
										<asp:TextBox runat="server" ID="txtToDate" class="form-control datepicker" placeholder="dd/MM/YYYY"></asp:TextBox>
									</div>
                                  </div>
                               <!-- end col-4 -->
                          </div>
                       <!-- end row -->  
                        <!-- begin row -->  
                        <div class="row">
                         <div class="col-md-4"></div>
                           <!-- begin col-4 -->
                                <div class="col-md-6">
								 <div class="form-group">
									<br />
									<asp:Button runat="server" id="btnSave" Text="Save" class="btn btn-success" ValidationGroup="Validate_Field"
                                         onclick="btnSave_Click" />
									<asp:Button runat="server" id="btnClear" Text="Clear" class="btn btn-danger" 
                                         onclick="btnClear_Click" />
									
								 </div>
                               </div>
                              <!-- end col-4 -->
                              <div class="col-md-4"></div>
                         </div>
                        <!-- end row -->  
                        
                            <!-- table start -->
					<div class="col-md-12">
					    <div class="row">
					        <asp:Repeater ID="Repeater1" runat="server" EnableViewState="false">
			                    <HeaderTemplate>
                                    <table id="example" class="display table">
                                        <thead>
                                            <tr>
                                                <th>Token No</th>
                                                <th>Emp Name</th>
                                                <th>WorkedDays</th>
                                                <th>Wages Amount</th>
                                                <th>Mode</th>
                                            </tr>
                                        </thead>
                                </HeaderTemplate>
                                <ItemTemplate>
                                    <tr>
                                    <td><%# Eval("ExisistingCode")%></td>
                                    <td><%# Eval("EmpName")%></td>
                                    <td><%# Eval("Total_Days")%></td>
                                    <td><%# Eval("Voucher_Amt")%></td>
                                    <td>
                                     <asp:LinkButton ID="btnEditEnquiry_Grid" class="btn btn-success btn-sm fa fa-pencil"  runat="server" 
                                           Text="" OnCommand="GridEditEnquiryClick" CommandArgument="Edit" CommandName='<%# Eval("ExisistingCode")%>'>
                                     </asp:LinkButton>
                                     <asp:LinkButton ID="btnDeleteEnquiry_Grid" class="btn btn-danger btn-sm fa fa-trash-o"  runat="server" 
                                        Text="" OnCommand="GridDeleteEnquiryClick" CommandArgument="Delete" CommandName='<%# Eval("ExisistingCode")%>' 
                                       CausesValidation="true" OnClientClick="return confirm('Are you sure you want to Delete this Voucher details?');">
                                     </asp:LinkButton>
                                    
                                    </td>
                                    </tr>
                                </ItemTemplate>
                                <FooterTemplate></table></FooterTemplate>                                
			                </asp:Repeater>
					    </div>
					</div>
					<!-- table End -->
                        
                        </div>
                        </div>
                    </div>
                    <!-- end panel -->
                </div>
                <!-- end col-12 -->
            </div>
            <!-- end row -->
        </div>
<!-- end #content -->
</ContentTemplate>
</asp:UpdatePanel>
</asp:Content>

